.grid {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    column-gap: 25px;
}

.span-two{

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;

}

